@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: #3A4E48;
    margin: auto -16px;
    padding: 16px 32px;
}

html {
  font-family: "Reddit Sans", sans-serif;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: grey;
}

table {
  table-layout: fixed;
  width: 80%;
  margin: auto;
}

td{
  direction: ltr;
  border-width: 1px;
  width: 100%;
  border-style: solid;
}

thead{
  padding-top: 120px;
}

form {
  width: 80%;
  margin: auto;
}

.ingredientForm{
  margin-left: 20%;
  display: inline-block;
  width: 60%;
}

.introText{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.appAbout{
  text-align: left;
  width: 70%;
  margin: auto;
}

.appHeader{
  text-align: center;
  width: 50%;
  margin: auto;
}